@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media(width<640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
/* Reels */
.play-btn {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

/* Swiper Navigation Buttons */
.swiper-button-prev, .swiper-button-next {
    color: white !important;
    font-size: 12px; /* Small icon size */
    font-weight: bold;
    width: 35px; /* Smaller button */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: 0.3s;
    padding: 30px; /* Removed extra padding */
}

/* Reduce arrow icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px !important; /* Adjusted icon size */
}

/* Hover Effect */
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.8);
}
