@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media(width<640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
::-webkit-scrollbar{
    display: none;
}
/* Reels */
.play-btn {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}

/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: 0.3s;
    padding: 30px;
}

/* Reduce arrow icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 14px !important;
}

/* Hover Effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 640px) {
 .swiper-button-prev,
.swiper-button-next {
    font-size: 8px;
    padding: 22px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 8px !important;
}
}

/* Best Seller */
.bestseller-swiper .swiper-button-prev,
.bestseller-swiper .swiper-button-next {
    color: white !important;
    font-size: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

/* Adjust arrow icon size */
.bestseller-swiper .swiper-button-prev::after,
.bestseller-swiper .swiper-button-next::after {
  font-size: 14px !important;
}

/* Hover effect */
.bestseller-swiper .swiper-button-prev:hover,
.bestseller-swiper .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 640px) {
  .bestseller-swiper .swiper-button-prev,
  .bestseller-swiper .swiper-button-next {
    width: 40px;
    height: 40px;
    padding: 4px;
     top: 43%;
  }

  .bestseller-swiper .swiper-button-prev::after,
  .bestseller-swiper .swiper-button-next::after {
    font-size: 10px !important;
  }
}
/* Zoom Image */
.zoom-container {
  position: relative;
  object-fit: cover;
  cursor: zoom-in;
}

.zoom-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.zoom-container::after {
  content: '';
  display: var(--display);
  background-image: var(--url);
  background-color: black;
  background-size: 250%;
  background-position: var(--zoom-x) var(--zoom-y);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

@media (min-width: 1700px) {
    .custom-height {
      height: 400px !important;
    }
  }